.book {
  position: relative;
  width: 500px;
  height: 700px;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  transition: all 1s;
}

.book.closed {
  box-shadow: -8px 0px 26px 2px rgba(0, 0, 0, 0.84);
}

/* .book.closed:hover {
  transform: translate3d(0, 0, 50px);
  transform-style: preserve-3d;
} */
